<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchFamiliedApplication</string>
		<string>com.couchbase.base</string>		
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:couchmethods:viewController</key>
		<string>@property (nonatomic, retain) IBOutlet ___PACKAGENAMEASIDENTIFIER___ViewController *viewController;
</string>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:applicationdidFinishLaunchingWithOptions:setup</key>
		<string> 
self.window.rootViewController = self.viewController;
[self.window makeKeyAndVisible];
</string>
		<key>___PACKAGENAMEASIDENTIFIER___ViewController.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___ViewController.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for a Couchbase application that uses a single view. It provides a view controller to manage the view, a nib file that contains the view, and a Couchbase instance.</string>
	<key>Identifier</key>
	<string>com.couchbase.dt.unit.viewBasedApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:class:___PACKAGENAMEASIDENTIFIER___ViewController</string>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:couchmethods:viewController</string>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:import:___PACKAGENAMEASIDENTIFIER___ViewController.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:synthesize:viewController=_viewController</string>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:dealloc:_viewController</string>
		<string>___PACKAGENAMEASIDENTIFIER___ViewController.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___ViewController.m</string>
		<string>en.lproj/___PACKAGENAMEASIDENTIFIER___ViewController.xib</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>deviceFamily</string>
			<key>Units</key>
			<dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAMEASIDENTIFIER___ViewController.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___ViewControlleriPad.m</string>
						</dict>
						<key>en.lproj/MainWindow.xib</key>
						<dict>
							<key>Path</key>
							<string>MainWindowiPad.xib</string>
						</dict>
						<key>en.lproj/___PACKAGENAMEASIDENTIFIER___ViewController.xib</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___ViewControlleriPad.xib</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAMEASIDENTIFIER___ViewController.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___ViewControlleriPhone.m</string>
						</dict>
						<key>en.lproj/MainWindow.xib</key>
						<dict>
							<key>Path</key>
							<string>MainWindowiPhone.xib</string>
						</dict>
						<key>en.lproj/___PACKAGENAMEASIDENTIFIER___ViewController.xib</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___ViewControlleriPhone.xib</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
