<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
		<string>com.couchbase.base</string>			
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>RootViewController.h</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>RootViewController.h:ivars</key>
		<dict>
			<key>Beginning</key>
			<string>@interface RootViewController : UITableViewController {
</string>
			<key>End</key>
			<string>}

</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>RootViewController.m</key>
		<dict>
			<key>End</key>
			<string>@end</string>
		</dict>
		<key>RootViewController.m:canEditRowAtIndexPath</key>
		<string>/*
// Override to support conditional editing of the table view.
- (BOOL)tableView:(UITableView *)tableView canEditRowAtIndexPath:(NSIndexPath *)indexPath
{
    // Return NO if you do not want the specified item to be editable.
    return YES;
}
*/
</string>
		<key>RootViewController.m:canMoveRowAtIndexPath</key>
		<string>/*
// Override to support conditional rearranging of the table view.
- (BOOL)tableView:(UITableView *)tableView canMoveRowAtIndexPath:(NSIndexPath *)indexPath
{
    // Return NO if you do not want the item to be re-orderable.
    return YES;
}
*/
</string>
		<key>RootViewController.m:cellForRowAtIndexPath</key>
		<dict>
			<key>Beginning</key>
			<string>// Customize the appearance of table view cells.
- (UITableViewCell *)tableView:(UITableView *)tableView cellForRowAtIndexPath:(NSIndexPath *)indexPath
{
    static NSString *CellIdentifier = @"Cell";
    
    UITableViewCell *cell = [tableView dequeueReusableCellWithIdentifier:CellIdentifier];
    if (cell == nil) {
        cell = [[[UITableViewCell alloc] initWithStyle:UITableViewCellStyleDefault reuseIdentifier:CellIdentifier] autorelease];
    }
</string>
			<key>End</key>
			<string>    return cell;
}
</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>RootViewController.m:cellForRowAtIndexPath:configure</key>
		<string>// Configure the cell.
</string>
		<key>RootViewController.m:commitEditingStyle</key>
		<string>/*
// Override to support editing the table view.
- (void)tableView:(UITableView *)tableView commitEditingStyle:(UITableViewCellEditingStyle)editingStyle forRowAtIndexPath:(NSIndexPath *)indexPath
{
    if (editingStyle == UITableViewCellEditingStyleDelete)
    {
        // Delete the row from the data source.
        [tableView deleteRowsAtIndexPaths:[NSArray arrayWithObject:indexPath] withRowAnimation:UITableViewRowAnimationFade];
    }
    else if (editingStyle == UITableViewCellEditingStyleInsert)
    {
        // Create a new instance of the appropriate class, insert it into the array, and add a new row to the table view.
    }   
}
*/
</string>
		<key>RootViewController.m:didReceiveMemoryWarning</key>
		<string>- (void)didReceiveMemoryWarning
{
    // Releases the view if it doesn't have a superview.
    [super didReceiveMemoryWarning];
    
    // Relinquish ownership any cached data, images, etc that aren't in use.
}
</string>
		<key>RootViewController.m:didSelectRowAtIndexPath</key>
		<string>- (void)tableView:(UITableView *)tableView didSelectRowAtIndexPath:(NSIndexPath *)indexPath
{
    /*
    &lt;#DetailViewController#&gt; *detailViewController = [[&lt;#DetailViewController#&gt; alloc] initWithNibName:@"&lt;#Nib name#&gt;" bundle:nil];
    // ...
    // Pass the selected object to the new view controller.
    [self.navigationController pushViewController:detailViewController animated:YES];
    [detailViewController release];
	*/
}
</string>
		<key>RootViewController.m:implementation</key>
		<string>@implementation RootViewController
</string>
		<key>RootViewController.m:moveRowAtIndexPath</key>
		<string>/*
// Override to support rearranging the table view.
- (void)tableView:(UITableView *)tableView moveRowAtIndexPath:(NSIndexPath *)fromIndexPath toIndexPath:(NSIndexPath *)toIndexPath
{
}
*/
</string>
		<key>RootViewController.m:numberOfRowsInSection</key>
		<dict>
			<key>Beginning</key>
			<string>- (NSInteger)tableView:(UITableView *)tableView numberOfRowsInSection:(NSInteger)section
{</string>
			<key>End</key>
			<string>}
</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>RootViewController.m:numberOfRowsInSection:return</key>
		<string>return 0;
</string>
		<key>RootViewController.m:numberOfSectionsInTableView</key>
		<dict>
			<key>Beginning</key>
			<string>// Customize the number of sections in the table view.
- (NSInteger)numberOfSectionsInTableView:(UITableView *)tableView
{</string>
			<key>End</key>
			<string>}
</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>RootViewController.m:numberOfSectionsInTableView:return</key>
		<string>return 1;
</string>
		<key>RootViewController.m:viewDidLoad</key>
		<dict>
			<key>Beginning</key>
			<string>- (void)viewDidLoad
{</string>
			<key>End</key>
			<string>}
</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>RootViewController.m:viewDidLoad:super</key>
		<string>[super viewDidLoad];
</string>
		<key>RootViewController.m:viewDidUnload</key>
		<string>- (void)viewDidUnload
{
    [super viewDidUnload];

    // Relinquish ownership of anything that can be recreated in viewDidLoad or on demand.
    // For example: self.myOutlet = nil;
}
</string>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:couchmethods:navigationController</key>
		<string>@property (nonatomic, retain) IBOutlet UINavigationController *navigationController;
</string>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:applicationdidFinishLaunchingWithOptions:setup</key>
		<string>// Add the navigation controller's view to the window and display.
self.window.rootViewController = self.navigationController;
[self.window makeKeyAndVisible];</string>
		<key>en.lproj/MainWindow.xib</key>
		<dict>
			<key>Path</key>
			<string>MainWindow.xib</string>
		</dict>
		<key>en.lproj/RootViewController.xib</key>
		<dict>
			<key>Path</key>
			<string>RootViewController.xib</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for a Couchbase application that uses a navigation controller. It provides a user interface configured with a navigation controller to display a list of items and a Couchbase instance.</string>
	<key>Identifier</key>
	<string>com.couchbase.dt.unit.navigationBasedApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>en.lproj/MainWindow.xib</string>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:couchmethods:navigationController</string>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:synthesize:navigationController=_navigationController</string>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:dealloc:_navigationController</string>
		<string>RootViewController.h:comments</string>
		<string>RootViewController.h:import:importCocoa</string>
		<string>RootViewController.h:class</string>
		<string>RootViewController.h:ivars</string>
		<string>RootViewController.h:methods</string>
		<string>RootViewController.m:comments</string>
		<string>RootViewController.m:import:RootViewController.h</string>
		<string>RootViewController.m:implementation</string>
		<string>RootViewController.m:synthesize</string>
		<string>RootViewController.m:viewDidLoad:super</string>
		<string>RootViewController.m:viewControllerMethods</string>
		<string>RootViewController.m:shouldAutorotateToInterfaceOrientation</string>
		<string>RootViewController.m:numberOfSectionsInTableView:return</string>
		<string>RootViewController.m:numberOfRowsInSection:return</string>
		<string>RootViewController.m:cellForRowAtIndexPath:configure</string>
		<string>RootViewController.m:canEditRowAtIndexPath</string>
		<string>RootViewController.m:commitEditingStyle</string>
		<string>RootViewController.m:moveRowAtIndexPath</string>
		<string>RootViewController.m:canMoveRowAtIndexPath</string>
		<string>RootViewController.m:didSelectRowAtIndexPath</string>
		<string>RootViewController.m:didReceiveMemoryWarning</string>
		<string>RootViewController.m:viewDidUnload</string>
		<string>RootViewController.m:dealloc</string>
		<string>en.lproj/RootViewController.xib</string>
		<string>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPhone</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>coreData</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>RootViewController.h:ivars</key>
						<dict>
							<key>Beginning</key>
							<string>#import &lt;CoreData/CoreData.h&gt;

@interface RootViewController : UITableViewController &lt;NSFetchedResultsControllerDelegate&gt; {
</string>
							<key>End</key>
							<string>}
</string>
							<key>Indent</key>
							<integer>1</integer>
						</dict>
						<key>RootViewController.h:methods:coreData</key>
						<string>@property (nonatomic, retain) NSFetchedResultsController *fetchedResultsController;
@property (nonatomic, retain) NSManagedObjectContext *managedObjectContext;
</string>
						<key>RootViewController.m:canMoveRowAtIndexPath</key>
						<string>- (BOOL)tableView:(UITableView *)tableView canMoveRowAtIndexPath:(NSIndexPath *)indexPath
{
    // The table view should not be re-orderable.
    return NO;
}
</string>
						<key>RootViewController.m:cellForRowAtIndexPath:configure</key>
						<string>// Configure the cell.
[self configureCell:cell atIndexPath:indexPath];
</string>
						<key>RootViewController.m:commitEditingStyle</key>
						<string>- (void)tableView:(UITableView *)tableView commitEditingStyle:(UITableViewCellEditingStyle)editingStyle forRowAtIndexPath:(NSIndexPath *)indexPath
{
    if (editingStyle == UITableViewCellEditingStyleDelete)
    {
        // Delete the managed object for the given index path
        NSManagedObjectContext *context = [self.fetchedResultsController managedObjectContext];
        [context deleteObject:[self.fetchedResultsController objectAtIndexPath:indexPath]];
        
        // Save the context.
        NSError *error = nil;
        if (![context save:&amp;error])
        {
            /*
             Replace this implementation with code to handle the error appropriately.
             
             abort() causes the application to generate a crash log and terminate. You should not use this function in a shipping application, although it may be useful during development. If it is not possible to recover from the error, display an alert panel that instructs the user to quit the application by pressing the Home button.
             */
            NSLog(@"Unresolved error %@, %@", error, [error userInfo]);
            abort();
        }
    }   
}
</string>
						<key>RootViewController.m:configureCell</key>
						<string>- (void)configureCell:(UITableViewCell *)cell atIndexPath:(NSIndexPath *)indexPath
{
    NSManagedObject *managedObject = [self.fetchedResultsController objectAtIndexPath:indexPath];
    cell.textLabel.text = [[managedObject valueForKey:@"timeStamp"] description];
}
</string>
						<key>RootViewController.m:coreData</key>
						<string>#pragma mark - Fetched results controller

- (NSFetchedResultsController *)fetchedResultsController
{
    if (__fetchedResultsController != nil)
    {
        return __fetchedResultsController;
    }
    
    /*
     Set up the fetched results controller.
    */
    // Create the fetch request for the entity.
    NSFetchRequest *fetchRequest = [[NSFetchRequest alloc] init];
    // Edit the entity name as appropriate.
    NSEntityDescription *entity = [NSEntityDescription entityForName:@"Event" inManagedObjectContext:self.managedObjectContext];
    [fetchRequest setEntity:entity];
    
    // Set the batch size to a suitable number.
    [fetchRequest setFetchBatchSize:20];
    
    // Edit the sort key as appropriate.
    NSSortDescriptor *sortDescriptor = [[NSSortDescriptor alloc] initWithKey:@"timeStamp" ascending:NO];
    NSArray *sortDescriptors = [[NSArray alloc] initWithObjects:sortDescriptor, nil];
    
    [fetchRequest setSortDescriptors:sortDescriptors];
    
    // Edit the section name key path and cache name if appropriate.
    // nil for section name key path means "no sections".
    NSFetchedResultsController *aFetchedResultsController = [[NSFetchedResultsController alloc] initWithFetchRequest:fetchRequest managedObjectContext:self.managedObjectContext sectionNameKeyPath:nil cacheName:@"Root"];
    aFetchedResultsController.delegate = self;
    self.fetchedResultsController = aFetchedResultsController;
    
    [aFetchedResultsController release];
    [fetchRequest release];
    [sortDescriptor release];
    [sortDescriptors release];

	NSError *error = nil;
	if (![self.fetchedResultsController performFetch:&amp;error])
        {
	    /*
	     Replace this implementation with code to handle the error appropriately.

	     abort() causes the application to generate a crash log and terminate. You should not use this function in a shipping application, although it may be useful during development. If it is not possible to recover from the error, display an alert panel that instructs the user to quit the application by pressing the Home button.
	     */
	    NSLog(@"Unresolved error %@, %@", error, [error userInfo]);
	    abort();
	}
    
    return __fetchedResultsController;
}    

#pragma mark - Fetched results controller delegate

- (void)controllerWillChangeContent:(NSFetchedResultsController *)controller
{
    [self.tableView beginUpdates];
}

- (void)controller:(NSFetchedResultsController *)controller didChangeSection:(id &lt;NSFetchedResultsSectionInfo&gt;)sectionInfo
           atIndex:(NSUInteger)sectionIndex forChangeType:(NSFetchedResultsChangeType)type
{
    switch(type)
    {
        case NSFetchedResultsChangeInsert:
            [self.tableView insertSections:[NSIndexSet indexSetWithIndex:sectionIndex] withRowAnimation:UITableViewRowAnimationFade];
            break;
            
        case NSFetchedResultsChangeDelete:
            [self.tableView deleteSections:[NSIndexSet indexSetWithIndex:sectionIndex] withRowAnimation:UITableViewRowAnimationFade];
            break;
    }
}

- (void)controller:(NSFetchedResultsController *)controller didChangeObject:(id)anObject
       atIndexPath:(NSIndexPath *)indexPath forChangeType:(NSFetchedResultsChangeType)type
      newIndexPath:(NSIndexPath *)newIndexPath
{
    UITableView *tableView = self.tableView;
    
    switch(type)
    {
            
        case NSFetchedResultsChangeInsert:
            [tableView insertRowsAtIndexPaths:[NSArray arrayWithObject:newIndexPath] withRowAnimation:UITableViewRowAnimationFade];
            break;
            
        case NSFetchedResultsChangeDelete:
            [tableView deleteRowsAtIndexPaths:[NSArray arrayWithObject:indexPath] withRowAnimation:UITableViewRowAnimationFade];
            break;
            
        case NSFetchedResultsChangeUpdate:
            [self configureCell:[tableView cellForRowAtIndexPath:indexPath] atIndexPath:indexPath];
            break;
            
        case NSFetchedResultsChangeMove:
            [tableView deleteRowsAtIndexPaths:[NSArray arrayWithObject:indexPath] withRowAnimation:UITableViewRowAnimationFade];
            [tableView insertRowsAtIndexPaths:[NSArray arrayWithObject:newIndexPath]withRowAnimation:UITableViewRowAnimationFade];
            break;
    }
}

- (void)controllerDidChangeContent:(NSFetchedResultsController *)controller
{
    [self.tableView endUpdates];
}

/*
// Implementing the above methods to update the table view in response to individual changes may have performance implications if a large number of changes are made simultaneously. If this proves to be an issue, you can instead just implement controllerDidChangeContent: which notifies the delegate that all section and object changes have been processed. 
 
 - (void)controllerDidChangeContent:(NSFetchedResultsController *)controller
{
    // In the simplest, most efficient, case, reload the table view.
    [self.tableView reloadData];
}
 */
</string>
						<key>RootViewController.m:import:privateCoreData</key>
						<string>@interface RootViewController ()
- (void)configureCell:(UITableViewCell *)cell atIndexPath:(NSIndexPath *)indexPath;
@end
</string>
						<key>RootViewController.m:insertNewObject</key>
						<string>- (void)insertNewObject
{
    // Create a new instance of the entity managed by the fetched results controller.
    NSManagedObjectContext *context = [self.fetchedResultsController managedObjectContext];
    NSEntityDescription *entity = [[self.fetchedResultsController fetchRequest] entity];
    NSManagedObject *newManagedObject = [NSEntityDescription insertNewObjectForEntityForName:[entity name] inManagedObjectContext:context];
    
    // If appropriate, configure the new managed object.
    // Normally you should use accessor methods, but using KVC here avoids the need to add a custom class to the template.
    [newManagedObject setValue:[NSDate date] forKey:@"timeStamp"];
    
    // Save the context.
    NSError *error = nil;
    if (![context save:&amp;error])
    {
        /*
         Replace this implementation with code to handle the error appropriately.
         
         abort() causes the application to generate a crash log and terminate. You should not use this function in a shipping application, although it may be useful during development. If it is not possible to recover from the error, display an alert panel that instructs the user to quit the application by pressing the Home button.
         */
        NSLog(@"Unresolved error %@, %@", error, [error userInfo]);
        abort();
    }
}
</string>
						<key>RootViewController.m:moveRowAtIndexPath</key>
						<string></string>
						<key>RootViewController.m:numberOfRowsInSection:return</key>
						<string>id &lt;NSFetchedResultsSectionInfo&gt; sectionInfo = [[self.fetchedResultsController sections] objectAtIndex:section];
return [sectionInfo numberOfObjects];
</string>
						<key>RootViewController.m:numberOfSectionsInTableView:return</key>
						<string>return [[self.fetchedResultsController sections] count];
</string>
						<key>RootViewController.m:viewDidLoad:coreData</key>
						<string>// Set up the edit and add buttons.
self.navigationItem.leftBarButtonItem = self.editButtonItem;

UIBarButtonItem *addButton = [[UIBarButtonItem alloc] initWithBarButtonSystemItem:UIBarButtonSystemItemAdd target:self action:@selector(insertNewObject)];
self.navigationItem.rightBarButtonItem = addButton;
[addButton release];
</string>
						<key>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:awakeFromNib</key>
						<string>- (void)awakeFromNib
{
    RootViewController *rootViewController = (RootViewController *)[self.navigationController topViewController];
    rootViewController.managedObjectContext = self.managedObjectContext;
}
</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:import:RootViewController.h</string>
						<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:awakeFromNib</string>
						<string>RootViewController.h:methods:coreData</string>
						<string>RootViewController.m:import:privateCoreData</string>
						<string>RootViewController.m:implementation:coreData</string>
						<string>RootViewController.m:synthesize:fetchedResultsController=__fetchedResultsController</string>
						<string>RootViewController.m:synthesize:managedObjectContext=__managedObjectContext</string>
						<string>RootViewController.m:viewDidLoad:coreData</string>
						<string>RootViewController.m:configureCell</string>
						<string>RootViewController.m:insertNewObject</string>
						<string>RootViewController.m:coreData</string>
						<string>RootViewController.m:dealloc:__fetchedResultsController</string>
						<string>RootViewController.m:dealloc:__managedObjectContext</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
