<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>	
		<string>com.apple.dt.unit.cocoaTouchUniversalApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
		<string>com.couchbase.base</string>		
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:applicationdidFinishLaunchingWithOptions:makeKeyAndVisible</key>
		<string>[self.window makeKeyAndVisible];
</string>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for any Couchbase application. It provides just an application delegate, a window, and a Couchbase instance.</string>
	<key>Identifier</key>
	<string>com.couchbase.dt.unit.windowBasedApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:applicationdidFinishLaunchingWithOptions:makeKeyAndVisible</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>iPad/___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.h</key>
						<dict>
							<key>Group</key>
							<string>iPad</string>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>iPad/___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.m</key>
						<dict>
							<key>Group</key>
							<string>iPad</string>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.m</string>
						</dict>
						<key>iPad/en.lproj/MainWindow_iPad.xib</key>
						<dict>
							<key>Group</key>
							<string>iPad</string>
							<key>Path</key>
							<string>MainWindow_iPad_Universal.xib</string>
						</dict>
						<key>iPhone/___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.h</key>
						<dict>
							<key>Group</key>
							<string>iPhone</string>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>iPhone/___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.m</key>
						<dict>
							<key>Group</key>
							<string>iPhone</string>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.m</string>
						</dict>
						<key>iPhone/en.lproj/MainWindow_iPhone.xib</key>
						<dict>
							<key>Group</key>
							<string>iPhone</string>
							<key>Path</key>
							<string>MainWindow_iPhone_Universal.xib</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>iPhone/___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.h</string>
						<string>iPhone/___PACKAGENAMEASIDENTIFIER___AppDelegate_iPhone.m</string>
						<string>iPhone/en.lproj/MainWindow_iPhone.xib</string>
						<string>iPad/___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.h</string>
						<string>iPad/___PACKAGENAMEASIDENTIFIER___AppDelegate_iPad.m</string>
						<string>iPad/en.lproj/MainWindow_iPad.xib</string>
					</array>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>en.lproj/MainWindow.xib</key>
						<dict>
							<key>Path</key>
							<string>MainWindow_iPad.xib</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>en.lproj/MainWindow.xib</key>
						<dict>
							<key>Path</key>
							<string>MainWindow_iPhone.xib</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
